In [51]:
import pandas as pd

import xgboost

In [2]:
df = pd.read_csv("../Downloads/Housing.csv")

In [3]:
df = df.drop(columns=['prefarea'], axis=1)

In [4]:
def map_yes_no(value):
    if value == 'yes':
        return 1
    elif value == 'no':
        return 0
    else:
        return value

In [5]:
df = df.applymap(map_yes_no)

/var/folders/vp/b5lxycg55l58xy0m5h3_hy1w0000gp/T/ipykernel_39332/971536844.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(map_yes_no)

In [6]:
df['furnishingstatus'].value_counts()

furnishingstatus
semi-furnished    227
unfurnished       178
furnished         140
Name: count, dtype: int64

In [7]:
furnishing_mapping = {
    'unfurnished':0,
    
    'semi-furnished':1,
    'furnished':2
    
}

In [8]:
df['furnishingstatus'] = df['furnishingstatus'].map(furnishing_mapping)

## Split the data

In [9]:
from sklearn.model_selection import train_test_split
from sklearn. import LinearRegression
from sklearn.metrics import mean_squared_error, accuracy_score, r2_score

In [10]:
##split the data into features (X1,X2,...) and (y)

X = df.drop(columns=['price'])

In [12]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,2
1,12250000,8960,4,4,4,1,0,0,0,1,3,2
2,12250000,9960,3,2,2,1,0,1,0,0,2,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,2
4,11410000,7420,4,1,2,1,1,1,0,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0
541,1767150,2400,3,1,1,0,0,0,0,0,0,1
542,1750000,3620,2,1,1,1,0,0,0,0,0,0
543,1750000,2910,3,1,1,0,0,0,0,0,0,2
544,1750000,3850,3,1,2,1,0,0,0,0,0,0

In [16]:
y = df['price']

In [30]:
##split the data into 80 and 20

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False)

In [31]:
X_train

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,2
1,8960,4,4,4,1,0,0,0,1,3,2
2,9960,3,2,2,1,0,1,0,0,2,1
3,7500,4,2,2,1,0,1,0,1,3,2
4,7420,4,1,2,1,1,1,0,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...
431,3180,4,1,2,1,0,1,0,1,0,0
432,6060,3,1,1,1,1,1,0,0,0,2
433,3480,4,1,2,0,0,0,0,0,1,1
434,3792,4,1,2,1,0,0,0,0,0,1
435,4040,2,1,1,1,0,0,0,0,0,0

In [32]:
model = LinearRegression()

In [52]:
model_2 = xgboost.XGBRegressor()

In [53]:
model_2.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [54]:
y_pred = model_2.predict(X_test)

In [55]:
y_pred_original = y_pred

In [56]:
##accuracy

mse = mean_squared_error(y_test, y_pred)

In [57]:
y_test

436    3290000
437    3290000
438    3255000
439    3255000
440    3234000
        ...
540    1820000
541    1767150
542    1750000
543    1750000
544    1750000
Name: price, Length: 109, dtype: int64

In [58]:
y_pred

array([3379220.2, 4596641. , 3588860.5, 4425107.5, 3677975.2, 4046173.8,
       3137963.5, 4639337. , 3422099. , 3639350.2, 6429335.5, 4215685.5,
       3804959.8, 3954484. , 4096158. , 4558494. , 5308341.5, 3304659.5,
       4192611.5, 4246811. , 4057206.8, 4119428.2, 3685112.5, 3540187.5,
       3458143.5, 4738687.5, 3655523.8, 4275350. , 4238359. , 3396654. ,
       3448564. , 4749070.5, 3625665.2, 3093005. , 3351417.5, 3541900. ,
       4391073. , 3920992.2, 4120009. , 3715317.2, 5065239.5, 3371017. ,
       3610051. , 3369467.2, 3590403.2, 3053556.5, 3246508.2, 4627487.5,
       3226303.5, 3390680.5, 5557826. , 4451595.5, 5570751.5, 4481395. ,
       4556683.5, 3443044.2, 3737647.5, 4590535.5, 4343557. , 4059169.8,
       3364078.2, 4277097. , 3594155.8, 4660254. , 3792956. , 3841829. ,
       3555980. , 4048824.2, 3599015.8, 4238983.5, 3604247.8, 3419439.2,
       3915386. , 4473258.5, 4141989.5, 3319627.2, 3771377.5, 4288114.5,
       3808327.8, 3645021.5, 4765971. , 3727278.8, 4315567. , 3910633.8,
       3901437.5, 3518825.8, 4219366. , 4130759.2, 3579558. , 3390680.5,
       3391760.5, 4167069.8, 3702605.2, 4380591.5, 3830387.2, 3983206.2,
       3522442. , 3742632.8, 4206851. , 3270483.5, 3390993.8, 3702878.8,
       3390680.5, 3822848.2, 4188922.2, 4112897. , 3419439.2, 3942325.2,
       3685112.5], dtype=float32)

In [45]:
import joblib

In [61]:
joblib.dump(model_2,'house_price_pred_xgboost.pkl')

['house_price_pred_xgboost.pkl']

In [48]:
model.predict([[4.        , 2.        , 3.        , 1.        , 0.        ,
       0.        , 0.        , 1.        , 2.        , 2.        ,
       0.45802469]])

/Users/mspraja/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([6446409.96935021])